---
author_profile: false
layout: default
---

{% include base_path %}

<div class="masthead" style="text-align:center;">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>

        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            <a href="{{ base_path }}/">{{ site.title }}</a>
          </li>

          {% for link in site.data.navigation.main %}
            {% assign domain = link.url contains 'http' ? '' : base_path %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}

          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon">
              <i id="theme-icon" class="fa-solid fa-sun" title="toggle theme"></i>
            </a>
          </li>
        </ul>

        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<section style="text-align:center; margin-top:2rem;">
  <img src="{{ '/images/think.jpg' | relative_url }}" width="500" height="300" class="center">
  <p>journal and drafts are shaking</p>
</section>

<p style="text-align:center; font-size:0.9em; color:gray;">
  Last updated: 2025 (on stasis)
</p>

{% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul>
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github"></i> GitHub</a></li>
    {% endif %}

    {% if site.atom_feed.hide != true %}
      <li>
        <a href="{{ site.atom_feed.path | default: base_path | append: '/feed.xml' }}">
          <i class="fa fa-rss-square"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}
