/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  justify-items: center;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1; /* keeps 1:1 ratio */
  object-fit: cover;
  border-radius: 20px;
}
